@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Nunito:ital,wght@1,200&family=Updock&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Italianno&family=Montserrat:ital,wght@1,200&family=Nunito:ital,wght@1,200&family=Updock&display=swap');





.navib{
  display: flex ;
  flex-direction: row;
  justify-content: center;
  width: 100%;
 

}
@media  (max-width: 900px) {


  
  
}

/*logo*/

.logo{

  margin-top: 40px;
  margin-right: 30px;
  margin-left: 120px;
  display: flex;
  flex-direction: row;
}

.logo img{

  width: 120px;
  height: 120px ;
}

h1{
    
  color: #FFFFFF;
  
  font-size: 50px;
  font-weight: 60;
  font-stretch: condensed;
  font-family: 'Antic Didone', serif;
  width: fit-content;
  margin-right: 30px;
  
 
  
}

@media  (max-width: 900px) {
  h1{
 
    font-size: 40px;
    
  }


}


/* navbar*/
.navbar{
  display: flex;
  justify-content: right;
  border-bottom: solid 1px white;
  margin-top: 5px;
  
    
  box-sizing: content-box;
  
  box-decoration-break: 10px white;
  
  opacity: 0.75;
}


 .ho{
 
  background-repeat: no-repeat;
  background-size: cover;  
 
  
}
.ha{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: center;

  
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: 60% 95%;
  
}

.navbar :hover{
    color: none;
}



.active{
    box-sizing: content-box;
    border-color: rgb(131, 77, 77);
}


.menu{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
   
}


.nav-item{
    display:flex;
    justify-content: center;
    
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    height: 40px;
      
}


.nav-item a{
  
  color: #ececec;  
}


/**dropdown**/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*active*/

.active{
 
text-decoration: underline white;
}


/** footer*/


.footmenu {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

/** lien et texte**/

a{
    text-align: center;
    color: rgb(22, 23, 24);
    text-decoration: none;
}


h2{
  float: left;
  color: #0a0808;
  margin: none;
  font-size: 20px;
  letter-spacing: 2px ;
  word-wrap: px;
}


.intro{
  

  width: 22%;
}

.pa {
  width: 60%;
  

}

.pa p{
  margin-top: 10px;
  margin-right: 30px;
  font-size: 15px;
  
  font-family: 'Antic Didone', serif;
  

}

@media  (max-width: 600px) {
  
  .pa {
    display:none;
    width: 80%;
  }
  .intro{
    display:none;
    
  }

  .gauche{
    display:none;
    
  }


  
}
.signature h3{
  color: #FFFFFF;
  font-family: 'Italianno';
  font-size: 20px;
  
}




p {
    color: white;
    
    background-position: center;
    opacity: 0.55;
    margin-top: 0px;
    font-size: 15px;
}

span{
  color: rgb(106, 214, 178);
}


.p1{
  position: relative;
  
  float: right;
  padding: 2px;
 
  
}
.p2{ 
  position: relative;
  
  float: left;
  padding-right: 5px;
  
  
}


/** accueil section**/


.acueil {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  margin-left: 30px;
 
}

.acueil2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

@media  (max-width: 600px) {
  .acueil{
    display: flex;
    flex-direction:column-reverse;
    flex-wrap: nowrap;
    justify-content: right;
    
    width: 80%;
    margin-left: 35px ;
    
  }
  
}

.poesie{
  
  display: flex;
  justify-content: center;
  
  align-items: center;
  width: 30%;
  

}

.poemes{
  display: flex;
  width: 80%;
}

@media (max-width: 1200px) {

  .poemes{
    display: flex;
    width: 100%;
  }
  

}
.pi {
  display: none;
  width: 10%;
  margin-left: 15px;

}
.po {
  display: none;
  width: 12%;
  
}

.po p{
  
  color: #000;
  

}



@media  (min-width: 700px) {
  .pi {
    display: flex;
    flex-direction: column;
  
  }
  .po {
    display: flex;
    flex-direction: column;
    
  }
  
}

.t1{
  background-image: url("photo5.jpeg") ;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  

}

.bg-image {
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Images used */
.img1 { background-image: url("photo1.jpeg"); }
.img2 { background-image: url("photo2.jpeg"); }
.img3 { background-image: url("photo3.jpeg"); }
.img4 { background-image: url("photo4.jpeg"); }
.img5 { background-image: url("photo5.jpeg"); }



.A1 img{
  display: flex;
  justify-content:right;
  max-width: 600px; ;
  min-width: 500px;

  margin-bottom: 10px;
  }

.A2 img{
    display: flex;
    justify-content: center;
    max-width: 600px; ;
  min-width: 500px;



    
    margin-left: 10px;
    }

/* fair une obtions media pour l'acueil, pour le textes et pour les photos  B */








/* E.MUNEZERO*/
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(78, 151, 151);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 30px ;
  
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.button-54:hover {
 color: #82a5a3;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

/* LE MATIN */

.button-55 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(77, 49, 143);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}

.button-55:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.button-55:hover {
  color: #7c648b;
 }

@media (min-width: 768px) {
  .button-55 {
    padding: 0.25em 0.75em;
  }
}

/* POESIE */

.button-56 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(143, 79, 49);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}

.button-56:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.button-56:hover {
  color: #a88787;
 }

@media (min-width: 768px) {
  .button-56 {
    padding: 0.25em 0.75em;
  }
}


/* LA BOUTIQUE */

.button-57 {
  font-family: "Open Sans", sans-serif;
  font-size: 1épx;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(49, 85, 143);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  margin-bottom:40px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
  
}

.button-57:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.button-57:hover {
  color: #7f9bc0;
 }

@media (min-width: 768px) {
  .button-57 {
    padding: 0.25em 0.75em;
  }
}
/** logos*/

@media (max-width: 600px) {

  .logos{
    display: none;
  }
}




.gauche{
  display: flex;
  margin: 0px;
  
  
  
 
}

.gauche p{
  margin-left: 20px;
 

}

.gauche h1{
  margin-left: 20px;
  margin-top: 300px;
 
  
 
}


@media (max-width: 668px) {
  .gauche p{
    
    width: 80%;
  
  }
  .gauche {
    
    width: 40%;
  
  }

  .gauche h1{
    margin-left: 3px;
    margin-top: 10px;
  }
  
}




.droite{
  display: flex;
  flex-direction: column;
  
  width: 100%;
  margin-top: 160px;
}
.droite img{
  width: 50px;
  margin: 5px;
  margin-top: 10px;
 
}

.droite a{
  width: fit-content;
 
  
 
}




@media (max-width: 1800px) {
  .droite{
    display: flex;
    flex-direction: column;
    justify-content: right;
    
    
    
   
  }


}
@media (max-width: 800px) {
  .droite{
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-top: 60px;
    
    
   
  }
  .gauche{
    display: flex;
    flex-direction: column;
    margin: 0px;
   
  }


}

@media (min-width: 768px) {
  .droite{
    
    width: 50%;
    
   
  }
  .gauche{
    width: 50%;
  }
}




/* poemes*/
.boxi{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    
    
    background-color: #091A20;
    border: red;
    
}
.times{
  display: flex;
  flex-direction: column;
  align-items: center;

}




.mobile {
  display: flex;
  flex-direction: row;
  width: fit-content;
  z-index: 99;
}

.mobile p {
  margin: 10px;
  margin-top: 10px;
  
  font-size: 15px;
}

.mobile-text {
  margin: 10px;
  margin-top: 50px;
  width: 220px;
  background-color: rgb(24, 23, 23);
  font-family: 'Antic Didone', serif;
  font-size: 15px;
}

.mobile-text h2{
  margin: 5px;
  font-size: 14px;
 
}





.mobile img{
    height: 240px;
    /*clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);*/
    /*clip-path: polygon(25% 0%, 75% 0, 75% 100%, 25% 100%);*/
    margin-right: 10px;
    
    
    border: red;
}

@media (max-width: 800px) {
 
  .mobile img{
    height: 200px;
    /*clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);*/
    /*clip-path: polygon(25% 0%, 75% 0, 75% 100%, 25% 100%);*/
    margin-right: 10px;
    
    border: red;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    width: fit-content;
    z-index: 99;
  }


  .mobile-text {
  
    margin-top: 5px;
    width: 190px;
    background-color: rgb(24, 23, 23);
    font-family: 'Antic Didone', serif;
    font-size: 15px;
  }
}



.mobile img :hover{
    margin-right: 0px;

}

.numbertext{
    position: absolute;
    color: aliceblue;
}
.menu{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.tes1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: none;
  padding: none;
}




.items{
    display: flex;
    margin-right: 10px;
   

    margin-top: 25%;
    margin-bottom: 25%;
    
    background-color: rgb(77, 72, 72);
    box-shadow: 4px 4px 4px black;
    box-sizing: content-box border-box;
    text-align: center;
    box-sizing: content-box border-box; 
    
    padding: center;
}

.slide_img1 {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  padding: center;
  
 }

 .slide_img1 img {

  width: 300px;
  margin-left: 20px;
 }

.slide_img2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 2%;
}

@media (max-width: 1200px) {
 
  .slide_img2 img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 2%;
  }
}


.projet{

  margin-top: 50px;
  border: solid 1px rgb(119, 119, 121);
  
  border-radius: 10px;
  width: 70%;
 
  display: flex;
  align-items: center;
  flex-direction: column;

}


.projet2{

  margin-top: 50px;
  border: solid 2px rgb(242, 242, 248);
  
  border-radius: 10px;
  width: 100%;
 
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.projet-2 h2{

  color: rgb(31, 28, 28);
  
}



.projets {
  
width: 70%;
}





.projets p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
  color: #0e0d0d;
  font-size: 12px;
}





.projet-1{

  width: 60%;
  float: right;
  text-align: right;

}

.projet-2{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;

}

.projet-2 p{
  
  text-align: left;

}
.projet-1 p{

color: #000;
}

@media (max-width: 1200px) {

  .projet{

    margin-top: 50px;
    border: solid 2px rgb(229, 229, 243);
    
    border-radius: 10px;
    width: 85%;
    
    display: flex;
    
    flex-direction: column;
    
  }


}

@media (max-width: 700px) {
 
  .projet{

    margin-top: 50px;
    border: solid 2px rgb(242, 242, 248);
    
    border-radius: 10px;
    width: 90%;
   
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .projet-2 p{
  
    color: #030303;
  }


  .projet-2 a{
    width: 80%;
  
  }


}

 .nana:hover{
  
  transform: scale(1.2);
   
}


* { box-sizing: border-box; }

.timeline {
  position: relative;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 40px;
  /*background: #091A20;*/
  float: left;
}
.timeline:after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 50%;
  width: 3px;
  background: #4cafa2;
  border-radius: 3px;
  z-index: -1;
}

.timeline article {
  position: relative;
  background: #eeeeee;
  width: calc( 70% - 110px );
  padding: 10px;
}

@media (max-width: 600px) {

  .timeline {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
    /*background: #091A20;*/
    float: left;
  }

  .timeline article {
    position:relative;
    background: #eeeeee;
    width: calc( 100% - 0% );
    padding: 10px;
  }

  .timeline:after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 3px;
    background: #4cafa2;
    border-radius: 3px;
    z-index: -1;
  }


}
.timeline article + article {
  margin-top: 20px;
}
.timeline article:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc( 100% + 26px );
  background: #d6d6d6;
  width: 14px;
  height: 14px;
  border: 4px #4cafa2 solid;
  border-radius: 50%;
  z-index: 2;
}
.timeline article:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 16px solid #eeeeee;
  border-bottom: 20px solid transparent;
}

.timeline article:nth-child(even) {
  margin-left: calc( 50% + 48px );
}

.timeline article:nth-child(even):before {
  left: auto;
  right: calc( 100% + 26px );
}
.timeline article:nth-child(even):after {
  left: auto;
  right: 100%;
  border-left: none;
  border-right: 16px solid #eeeeee;
}

.timeline article ul {
  margin: 0;
  padding: 0;
}
.timeline article li {
  list-style: none;
  padding: 8px 0;
}
.timeline article li:not(:last-child) {
  border-bottom: 1px #aaa solid;
}
.timeline article li span {
  display: inline-block;
  width: 70px;
  color: #346abf;
}

@media (max-width: 600px) {

  .timeline article:nth-child(even) {
    margin-left: calc( 0%  );
  }

  .timeline article:before {
    display: none;
  }
  .timeline article:after {
    display: none;

  }
}



/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  margin-top: 40px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  
  color: rgb(7, 6, 6);
  display: flex;
  flex-direction: column;
}

/* Style the back side */
.flip-card-back {
  
  border: solid 1px rgb(197, 189, 189);
  color: rgb(15, 14, 14);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.flip-card h2{
  font-size: 16px;
  margin-top: 30px;
}

.flip-card h3{
  font-size: 13px;
  margin-top: 30px;
}

 @media (max-width: 600px) {
  .flip-card {
    /* background-color:rgb(87, 145, 140);*/
     width: 250px;
     margin-left: 10%;
     height: 400px;
     margin-top: 40px;
     
     perspective: 1000px; /* Remove this if you don't want the 3D effect */
     text-align: left;
     
   }

  .flip-card-front {
    
    height: fit-content;
    opacity: 0.9;
    color: rgb(7, 6, 6);
    display: flex;
    flex-direction: column;
   
  }
  
  
  .flip-card-back {
    background-color:rgb(231, 231, 227);
    opacity: 0.9;
    border: solid 1px black;
    color: rgb(15, 14, 14);
    transform: rotateY(180deg);
    
  }

  .flip-card h2{
    font-size: 16px;
    margin-top: 70px;
  
    
  
  
  }

}

.cardtext{

  margin: 15px;
  display: flex;
  flex-direction: column;
  
}

.cardtext p{

  color: #000;
  font-family: 'Courier New', Courier, monospace;
  
}

@media (max-width: 600px) {

  .cardtext{

    width: 80%;
  }


}




img:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

